@use "@/styles/base/variables.scss" as *;

.container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 8px;
  column-gap: 30px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  h1 {
    grid-column: 1 / 3;
  }
}

.generator {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.results {
  margin-top: 28px;
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 3px;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    max-width: unset;
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #00000013;

    padding: 4px 20px;

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
}
